@keyframes undoBlur {
	0% {
		filter: opacity(0.7);
	}
	100% {
		filter: opacity(0.7);
	}
}

.homeBackground {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: opacity(0.7);
	animation: undoBlur 1s ease-in-out;
}

.homeContent {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4rem;
	z-index: 1;
	height: calc(100% - 8rem);
	width: calc(100% - 8rem);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.homeTitle {
	font-size: 2rem;
	color: #ffffff;
	display: block;
	margin-bottom: 2rem;
}

.homeSubtitle {
	font-size: 2rem;
	color: rgba(255, 255, 255, 0.6);
	display: block;
}

.loadingOverlay {
	background-color: #191919;
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@keyframes disappear {
	0% {
		display: block;
		filter: opacity(1.0);
	}
	100% {
		display: none;
		filter: opacity(0.0);
	}
}

.loadingOverlayDisappear {
	background-color: #191919;
	filter: opacity(0.0);
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	animation: disappear 1s ease-in-out;
	pointer-events: none;
}

@keyframes fadeIn {
	0% {
		filter: opacity(0.0)
	}
	100% {
		filter: opacity(1.0)
	}
}

.contentToReveal {
	animation: fadeIn 1s ease-in-out;
}

.pageBottomContent {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.exploreHolder {
	display: flex;
	align-items: center;
}

.exploreArrow {
	margin-left: 0.5rem;
	color: #ffffff;
}